$WHITE: #FFFFFF;
$COLOR_GRAY_BASIC: #262525;
$COLOR_BLUE_H1: #0087b5;
$COLOR_BLUE_CALLBACK: #8ad9ff;
$COLOR_ORANGE_SECTION: #fbcb14;
$COLOR_BLUE_LIGHT: #5db0f9;
$MEDIA_DESKTOP_TO_TABLET: 1019px;
$MEDIA_TABLET_TO_DESKTOP: 1020px;
$MEDIA_TABLET_TO_MOBILE: 424px;
$MEDIA_TABLET_TO_BIG_MOBILE: 767px;
$MEDIA_BIG_MOBILE_TO_TABLET: 768px;



$COLOR_ORANGE: #FE6600;
$COLOR_GREEN: #4CAF50;
